<!DOCTYPE html>
<html lang="pt-br">
<head>
 <title>Visualizador EDGV-DEFESA</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="./css/bootstrap.css">
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <!--<script src="./js/jquery.min.js"></script>-->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
 <!--<script src="./js/bootstrap.js"></script>-->
</head>
<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">EDGV-DEFESA HTML</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="index.html">Home</a></li>
        <li class="dropdown active">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cartografia Aeronáutica<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="cartografia-aeronautica.html">Índice Cartografia Aeronáutica</a></li>
            <li><a href="#">Lista de Entidades</a></li>
            <li><a href="#">Lista de Atributos</a></li>
            <li><a href="dominios/dominios-aeronauticos.html">Lista de Domínios</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cartografia Náutica<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="cartografia-nautica.html">Índice Cartografia Náutica</a></li>
            <li><a href="#">Lista de Entidades</a></li>
            <li><a href="#">Lista de Atributos</a></li>
            <li><a href="dominios/dominios-nauticos.html">Lista de Domínios</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cartografia Terrestre<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="cartografia-terrestre.html">Índice Cartografia Terrestre</a></li>
            <li><a href="#">Lista de Entidades</a></li>
            <li><a href="#">Lista de Atributos</a></li>
            <li><a href="dominios/dominios-terrestres.html">Lista de Domínios</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <div class="container-fluid">
    <div class="well">
      <div class="row">
        <div class="col-lg-9">
          <h2>Especificações Técnicas Para Estruturação de <br>Dados Geoespaciais Vetoriais de Defesa</h2>
        </div>
        <div class="col-lg-3">
          <h4>Visualizador EDGV-DEFESA HTML<br></h4>
          <h4>Dezembro 2017 <br></h4>
          <h5>Versão 3.0</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="panel panel-default">
    <div class="panel-heading"><h3>Cartografia Aeronáutica</h3></div>
    <div class="panel-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
       veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
         velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
         occaecat cupidatat non proident, sunt in culpa qui officia deserunt
         mollit anim id est laborum.</p>
      <br>
      <p><a href="./index.html">Voltar</a></p>
    </div>
  </div>
  </div>
  <div class="container-fluid">
    <div class="panel panel-default">
    <div class="panel-heading"><h3>Acesso aos dados</h3></div>
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Entidades Náuticas</td>
            <td>Lista das tabelas de entidades náuticas</td>
            <td><a href="dominios/#">Acessar</a></td>
          </tr>
          <tr>
            <td>Atritubos Náuticos</td>
            <td>Lista das tabelas de atributos náuticos</td>
            <td><a href="dominios/#">Acessar</a></td>
          </tr>
          <tr>
            <td>Domínios Náuticos</td>
            <td>Lista das tabelas de domínios náuticos</td>
            <td><a href="dominios/dominios-aeronauticos.html">Acessar</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-body">Visualizador EDGV-DEFESA HTML </div>
      <div class="panel-footer">Desenvolvido: </div>
    </div>
  </div>
</body>
</html>
